body{
    background-color: ivory;
    color: saddlebrown;
    font-family: Cambria;
    margin: 0px;
}

header{
    background-color: cadetblue;
    color: ivory;
    padding: 10px;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    transition: 1000ms;
}

header:hover{
    background: linear-gradient(to right bottom, lightcoral, lightsalmon, lightgoldenrodyellow, lightgreen, lightblue, lightskyblue, plum); 
    transition: 600ms;
    font-size: 20;
    color: saddlebrown;
}

footer{
    background-color: cadetblue;
    color: ivory;
    padding: 10px;
    font-size: 16pt;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    transition: 1000ms;
}

footer:hover{
    background: linear-gradient(to right bottom, lightcoral, lightsalmon, lightgoldenrodyellow, lightgreen, lightblue, lightskyblue, plum); 
    transition: 600ms;
    font-size: 20;
    color: saddlebrown;
}

a{
    color: darkolivegreen; 
    text-decoration: none; 
    transition: 1100ms;
    font-size: 16pt;
}

a:visited{
    color: cadetblue;
}

a:hover{
    color: white;
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    text-shadow: 5px 2px 2px red;
    transition: 300ms;
    
}

a:active{
    color: peachpuff;
    background-color: white;
}