body{
    background-color: ivory;
    color: saddlebrown;
    font-family: Cambria;
    margin: 0px;
}

header{
    background: linear-gradient(to right bottom, lightcoral, lightsalmon, lightgoldenrodyellow, lightgreen, lightblue, lightskyblue, plum); 
    color: saddlebrown;
    padding: 10px;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

footer{
    background: linear-gradient(to right bottom, lightcoral, lightsalmon, lightgoldenrodyellow, lightgreen, lightblue, lightskyblue, plum);
    color: saddlebrown;
    padding: 10px;
    font-size: 16pt;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

a{
    color: darkolivegreen; 
    text-decoration: none; 
}

a:visited{
    color: plum;
}

a:hover{
    color: white;
    text-decoration: underline;
    background-color: peachpuff;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}

a:active{
    color: peachpuff;
    background-color: white;
}